[submodule "project/jni/application/NewRAW"]
	path = project/jni/application/NewRAW
	url = https://github.com/usineur/android-newraw.git
[submodule "project/jni/boost/src"]
	path = project/jni/boost/src
	url = git://github.com/pelya/Boost-for-Android.git
