[submodule "project/jni/application/NewRAW"]
	path = project/jni/application/NewRAW
	url = git@github.com:usineur/android-newraw.git
[submodule "project/jni/boost/src"]
	path = project/jni/boost/src
	url = git@github.com:pelya/Boost-for-Android.git
[submodule "project/jni/application/commandergenius/commandergenius"]
	path = project/jni/application/commandergenius/commandergenius
	url = git@github.com:gerstrong/Commander-Genius.git
[submodule "project/jni/application/frogatto"]
	path = project/jni/application/frogatto
	url = git@github.com:frogatto/frogatto.git
[submodule "project/jni/application/ufoai/ufoai"]
	path = project/jni/application/ufoai/ufoai
	url = git://ufoai.git.sourceforge.net/gitroot/ufoai/ufoai
[submodule "project/jni/application/openarena/engine"]
	path = project/jni/application/openarena/engine
	url = git@github.com:pelya/openarena-engine.git
[submodule "project/jni/application/scummvm/scummvm"]
	path = project/jni/application/scummvm/scummvm
	url = git@github.com:scummvm/scummvm.git
[submodule "project/jni/application/openarena/vm"]
	path = project/jni/application/openarena/vm
	url = git@github.com:pelya/openarena-vm
[submodule "project/jni/application/teeworlds/src"]
	path = project/jni/application/teeworlds/src
	url = git@github.com:pelya/teeworlds.git
[submodule "project/jni/application/c-dogs/src"]
	path = project/jni/application/c-dogs/src
	url = git@github.com:cxong/cdogs-sdl.git
[submodule "project/jni/application/xserver/xserver"]
	path = project/jni/application/xserver/xserver
	url = git@github.com:pelya/xserver.git
[submodule "android-shmem"]
	path = project/jni/shmem
	url = git@github.com:pelya/android-shmem.git
[submodule "project/jni/application/hid-pc-keyboard/src"]
	path = project/jni/application/hid-pc-keyboard/src
	url = git@github.com:pelya/android-keyboard-gadget.git
[submodule "project/jni/application/xserver-gimp/xserver"]
	path = project/jni/application/xserver-gimp/xserver
	url = git@github.com:pelya/xserver.git
[submodule "project/jni/iconv/src"]
	path = project/jni/iconv/src
	url = git@github.com:pelya/libiconv-libicu-android.git
[submodule "project/jni/icuuc/src"]
	path = project/jni/icuuc/src
	url = git@github.com:pelya/libiconv-libicu-android.git
[submodule "project/jni/application/openttd/src"]
	path = project/jni/application/openttd/src
	url = git@github.com:pelya/openttd-android.git
	branch = master
[submodule "project/jni/application/xserver-debian/xserver"]
	path = project/jni/application/xserver-debian/xserver
	url = git@github.com:pelya/xserver.git
[submodule "project/jni/application/uae4all2"]
	path = project/jni/application/uae4all2
	url = git@github.com:lubomyr/uae4all2.git
[submodule "project/jni/application/basiliskii/basiliskii"]
	path = project/jni/application/basiliskii/basiliskii
	url = git@github.com:pelya/BasiliskII-android.git
[submodule "project/jni/vncserver/src"]
	path = project/jni/vncserver/src
	url = git@github.com:LibVNC/libvncserver.git
[submodule "project/jni/application/vice/vice"]
	path = project/jni/application/vice/vice
	url = git@github.com:lubomyr/vice-2.4.git
